# Environment variables setup.
# Fill in your API key, location etc. and rename this file to ".env".
# See README for more information.

# Met Office DataHub API client key and secret.
met_office_datahub_api:
  client_key: ""
  client_secret: ""

# Your location, in decimal degrees.
location:
  lat: 51.508069
  lon: -0.1280766

# Plot size parameters, in pixels. Will set the output size of the image. Note that since the
# switch from Plotly to Matplotlib, which deals in inches and DPI, this output size will only
# be approximate, but it should be within 1%.
plot_size:
  width: 1480
  height: 320

# How many days of forecast to show? Pick a value that makes sense for the width of your plot.
# Maximum of 7 as we only get 7 days of forecast from the API.
show_forecast_days: 5

# Enable/disable plots.
enable_plots:
  temp: true
  wind: true
  gust: true
  precip_prob: true
  precip_amount: true
  humidity: false

# Enable/disable features.
enable_features:
  weather_icons: true
  condition_bars: true
  calendar_events: true

# Use the "feels like" temperature instead of "real" screen temperature?
use_feels_like_temp: False

# Scale parameters. Tweak as required for your local conditions.
# Precipitation probability and humidity are always 0-100% over the scale and cannot be altered.
scale:
  # Temperature at the top of the scale (C)
  max_temp: 35
  # Temperature at the bottom of the scale (C)
  min_temp: -5
  # Wind speed at the top of the scale (knots)
  max_wind_speed: 45

# Frost/storm warning calculation parameters.
frost_storm_warning:
  # Frost warning if temperature falls below this (C)
  frost_temp: 4
  # Storm warning if wind gust speed is above this (mph)
  storm_gust_speed: 30
  # Storm warning if precipitation probability is above this (%)
  storm_precip_prob: 30

# Laundry day calculation parameters.
laundry_day:
  # Time of the morning at which you'll be hanging out laundry (hours since midnight, e.g. enter
  # 10.5 for 10:30 am).  Local time.
  hang_out_time: 10
  # Number of hours of daylight left after the above time, before sunset, required for a good
  # laundry day
  min_hours_daylight: 7
  # Average temperature over the drying period must be at least this for a good laundry day.
  min_average_temp: 8
  # Average humidity over the drying period must be less than this for a good laundry day.
  max_average_humidity: 80
  # Precipitation probability over the drying period must be less than this for a good laundry day.
  max_precip_prob: 10

# Calendar URLs and colours
calendars:
  - url: "https://www.gov.uk/bank-holidays/england-and-wales.ics"
    color: "yellow"
# Add more calendars by uncommenting and copy-pasting these lines:
#  - url: ""
#    color: "dodgerblue"

# Meteogram and general plot colour and style parameters
style:
  temp_color: "firebrick"
  precip_prob_color: "dodgerblue"
  precip_amount_color: "#104b85"
  wind_color: "forestgreen"
  gust_color: "#004400"
  gust_line_style: "dashed"
  humidity_color: "rebeccapurple"
  daytime_color: "yellow"
  daytime_opacity: 0.1
  now_line_color: "yellow"
  date_axis_color: "white"
  frost_color: "powderblue"
  ice_color: "white"
  storm_color: "blueviolet"
  laundry_day_color: "yellow"
  condition_bars_opacity: 0.2
  calendar_event_bars_opacity: 0.2
  max_calendar_event_bar_rows: 3
  frost_line_style: "dotted"
  frost_line_opacity: 1.0
  font_size: 11
  background_color: "black"

# File management parameters
files:
  cache_file_hourly: ".cache/hourly.json"
  cache_file_three_hourly: ".cache/three_hourly.json"
  output_file_name: "output.png"
  weather_icon_folder: "icons"